In [4]:
import numpy as np
import pandas as pd
from astropy.io import fits
import glob
from collections import defaultdict
import sqlite3 as lite

# Read in the field information
#root = "/home/esmee/Documents/DBDM/DDM2017-master/FinalProject/" 
root = "/disks/strw9/stoop/DBDM/DDM2017-master/FinalProject/Final-Project-DBDM/"

# FieldTable

| ID | FieldID | Filename | Filter | Exp time | MJD |

In [4]:
#Read the field info
field_info = pd.read_csv(root + 'file_info_for_problem.csv')

# Make the filters of the same form as for StarTable
for field in range(1,4):
    #Find the index of filter Ks
    index_ks = np.where( (field_info['FieldID'] == field) & (field_info['Filter'] == 'Ks') )[0]
    sort = np.argsort(field_info['MJD'][index_ks])
    
    #Change to Ks-E00..
    tel = 1
    for i in index_ks[sort]:
        field_info['Filter'][i] = field_info['Filter'][i] + '_E00'+str(tel)
        tel +=1

/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
field_info

,ID,FieldID,Filename,Filter,MJD,Airmass,Exptime
0,1,1,Z-ADP.2017-01-18T11:58:36.905.fits,Z,57267.167107,1.6405,40.0
1,2,1,J-ADP.2017-01-18T11:58:35.781.fits,J,57257.050432,1.0105,48.0
2,3,1,H-ADP.2017-01-18T11:58:35.780.fits,H,57257.044108,1.0060,16.0
3,4,1,Ks-ADP.2016-05-25T15:33:39.546.fits,Ks_E002,56788.346937,1.0230,16.0
4,5,1,Ks-ADP.2017-01-18T11:58:39.907.fits,Ks_E001,56561.002016,1.0790,16.0
5,6,1,Ks-ADP.2016-05-25T15:33:43.377.fits,Ks_E003,56829.039051,1.6085,16.0
6,7,1,Y-ADP.2017-01-18T11:58:36.901.fits,Y,57267.159665,1.5605,40.0
7,8,2,Z-ADP.2017-01-18T11:58:36.905b.fits,Z,57268.167107,1.6405,40.0
8,9,2,J-ADP.2017-01-18T11:58:35.781b.fits,J,57258.050432,1.0105,48.0
9,10,2,H-ADP.2017-01-18T11:58:35.780b.fits,H,57258.044108,1.0060,16.0
10,11,2,Ks-ADP.2016-05-25T15:33:39.546b.fits,Ks_E001,56789.346937,1.0230,16.0
11,12,2,Y-ADP.2017-01-18T11:58:36.901b.fits,Y,57268.159665,1.5605,40.0
12,13,3,Z-ADP.2017-01-18T11:58:36.905c.fits,Z,57268.167107,1.6405,40.0
13,14,3,J-ADP.2017-01-18T11:58:35.781c.fits,J,57258.050432,1.0105,48.0
14,15,3,H-ADP.2017-01-18T11:58:35.780c.fits,H,57258.044108,1.0060,16.0
15,16,3,Ks-ADP.2016-05-25T15:33:39.546c.fits,Ks_E002,56789.346937,1.0230,16.0
16,17,3,Ks-ADP.2017-01-18T11:58:39.907c.fits,Ks_E001,56562.002016,1.0790,16.0
17,18,3,Y-ADP.2017-01-18T11:58:36.901c.fits,Y,57268.159665,1.5605,40.0

# StarTable
| ID  | StarID  | FieldID | Ra  | Dec  |

# IntensityTable
| ID | StarID | Filter | Flux1 | dFlux1 | Flux2 | dFlux2 | Flux3 | dFlux3 | Mag1 | dMag1 | Mag2 | dMag2 | Mag3 | dMag3 |

In [113]:
filenames = glob.glob(root + '*.fits')
starIDs = []
#Find the unique StarIDs
for i, f in enumerate(filenames):
    hdu = fits.open(f)
    [starIDs.append(ID) for ID in hdu[1].data['StarID']]

uniq_IDs = np.unique(starIDs)
nstars = len(uniq_IDs)

#Make the Star and Intensity table
scol = np.array(['ID', 'FieldID', 'StarID', 'Ra', 'Dec'])
icol = np.array(['ID', 'StarID', 'FieldID', 'Filter', 'Flux1', 'dFlux1', 'Flux2', 'dFlux2', 'Flux3', 'dFlux3', 'Mag1', 'dMag1', 'Mag2', 'dMag2', 'Mag3', 'dMag3'])
StarTable = pd.DataFrame(data = np.zeros((nstars, len(scol))), columns = scol)
IntensityTable = pd.DataFrame(data = np.zeros((len(starIDs), len(icol))), columns = icol)

In [142]:
# Fill the tables
seen = []
first = False
for fname in filenames:
    
    print "Started with file {0}".format(fname.replace(root, ''))
    
    hdu = fits.open(fname)
    fname = fname.replace(root, '')
    sID = hdu[1].data['StarID'] #StarIDs
    fID = fname[6] #FieldID
    filt = fname[8:-5] # filter 
    if '-' in filt: filt = filt.replace('-','_')
    
    #Index in table of the stars
    sindex = [np.where(uniq_IDs == i)[0][0] for i in sID]
    
    # Is this field already seen
    if not sID[0] in seen:
        
        # Fill ID, FieldID 
        StarTable['ID'][sindex] = sindex
        StarTable['FieldID'][sindex] = fID
        # Fill StarID, Ra and Dec
        for c in scol[2:5]:
            StarTable[c][sindex] = hdu[1].data[c]
        
        [seen.append(ID) for ID in sID]
    
    if first == False:
        iindex = np.arange(len(sID))
        first = True
    else:
        iindex += len(sID)
    
    print filt, iindex[-1]
    
    # Fill the Intensity Table
    IntensityTable['ID'][iindex] = iindex
    IntensityTable['StarID'][iindex] = sID
    IntensityTable['Filter'][iindex] = filt
    
    IntensityTable['FieldID'][iindex] = fID
    # Fill in the flux and magnitudes in IntensityTable
    for c in icol[4:-1]:
        IntensityTable[c][iindex] = hdu[1].data[c]

Started with file Field-3-Ks-E002.fits

/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Ks_E002 9999

/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Started with file Field-3-Ks-E001.fits
Ks_E001 19999
Started with file Field-2-H.fits
H 29999
Started with file Field-1-Ks-E001.fits
Ks_E001 39999
Started with file Field-2-Y.fits
Y 49999
Started with file Field-3-J.fits
J 59999
Started with file Field-1-Y.fits
Y 69999
Started with file Field-1-Ks-E003.fits
Ks_E003 79999
Started with file Field-1-Ks-E002.fits
Ks_E002 89999
Started with file Field-1-H.fits
H 99999
Started with file Field-3-H.fits
H 109999
Started with file Field-3-Z.fits
Z 119999
Started with file Field-2-Z.fits
Z 129999
Started with file Field-3-Y.fits
Y 139999
Started with file Field-1-Z.fits
Z 149999
Started with file Field-2-Ks-E001.fits
Ks_E001 159999
Started with file Field-2-J.fits
J 169999
Started with file Field-1-J.fits
J 179999

/software/local/lib64/python2.7/site-packages/ipykernel/__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [124]:
# write tables to csv
StarTable.to_csv(root+'StarTable.csv')
field_info.to_csv(root+'FieldTable.csv')
IntensityTable.to_csv(root + 'IntensityTable.csv')

In [127]:
# Read the Tables
FieldTable = pd.read_csv(root+ "FieldTable.csv")
StarTable = pd.read_csv(root+ "StarTable.csv")
IntensityTable = pd.read_csv(root + 'IntensityTable.csv')

FieldTable.drop('Unnamed: 0', axis=1, inplace=True)
StarTable.drop('Unnamed: 0', axis=1, inplace=True)
IntensityTable.drop('Unnamed: 0', axis=1, inplace=True)

# Make the database
con = lite.connect(root+"VVV.db")
StarTable.to_sql('StarTable', con, if_exists = 'replace')
FieldTable.to_sql('FieldTable', con, if_exists = 'replace')
IntensityTable.to_sql('IntensityTable', con, if_exists = 'replace')

# Perform the queries

**R1:** Find all images observed between MJD = 56800 and MJD = 57300 and give me the number of stars detected with S/N > 5 in each image.

In [17]:
con = lite.connect(root + 'VVV.db')

command1 = """SELECT f.Filename, COUNT(i.StarID) FROM FieldTable AS f \
            JOIN IntensityTable AS i \
                ON (f.FieldID = i.FieldID) AND (f.Filter = i.Filter) \
            WHERE (i.Flux1/i.dFlux1 > 5) AND (f.MJD BETWEEN 56800 AND 57300) \
            GROUP BY f.Filename"""
t = pd.read_sql(command1, con)

print "The images taken between 56800 and 57300 and the number of stars with S/N > 5 "
print t

The images taken between 56800 and 57300 and the number of stars with S/N > 5
                               Filename  COUNT(i.StarID)
0    H-ADP.2017-01-18T11:58:35.780.fits             9990
1   H-ADP.2017-01-18T11:58:35.780b.fits             9985
2   H-ADP.2017-01-18T11:58:35.780c.fits             9987
3    J-ADP.2017-01-18T11:58:35.781.fits             9985
4   J-ADP.2017-01-18T11:58:35.781b.fits             9985
5   J-ADP.2017-01-18T11:58:35.781c.fits             9983
6   Ks-ADP.2016-05-25T15:33:43.377.fits             9992
7    Y-ADP.2017-01-18T11:58:36.901.fits             9967
8   Y-ADP.2017-01-18T11:58:36.901b.fits             9985
9   Y-ADP.2017-01-18T11:58:36.901c.fits             9977
10   Z-ADP.2017-01-18T11:58:36.905.fits             9862
11  Z-ADP.2017-01-18T11:58:36.905b.fits             9968
12  Z-ADP.2017-01-18T11:58:36.905c.fits             9930

**R2:** Find the objects that have J-H > 1.5

In [18]:
command2 = """ SELECT ij.StarID FROM IntensityTable AS ij \
                JOIN IntensityTable AS ih \
                    ON ij.StarID = ih.StarID \
                WHERE (ij.Filter = 'J') AND (ih.Filter = 'H') \
                    AND (ij.Flux1 - ih.Flux1 + ij.dFlux1 + ih.dFlux1 > 1.5) \
                    AND (ij.Flux1 - ih.Flux1 - ij.dFlux1 - ih.dFlux1 > 1.5)"""

t = pd.read_sql(command2, con)

print "Objects with J-H > 1.5 are the following stars:"
print t

Objects with J-H > 1.5 are the following stars:
        StarID
0     300022.0
1     300054.0
2     300057.0
3     300096.0
4     300153.0
5     300158.0
6     300190.0
7     300208.0
8     300220.0
9     300240.0
10    300331.0
11    300354.0
12    300361.0
13    300363.0
14    300559.0
15    300593.0
16    300594.0
17    300595.0
18    300623.0
19    300642.0
20    300647.0
21    300754.0
22    300757.0
23    300782.0
24    300791.0
25    300823.0
26    300858.0
27    300861.0
28    300872.0
29    300873.0
...        ...
1198    8971.0
1199    9066.0
1200    9073.0
1201    9087.0
1202    9109.0
1203    9146.0
1204    9152.0
1205    9203.0
1206    9229.0
1207    9231.0
1208    9236.0
1209    9288.0
1210    9304.0
1211    9305.0
1212    9341.0
1213    9356.0
1214    9446.0
1215    9455.0
1216    9596.0
1217    9601.0
1218    9636.0
1219    9693.0
1220    9726.0
1221    9852.0
1222    9886.0
1223    9917.0
1224    9923.0
1225    9961.0
1226    9965.0
1227    9999.0

[1228 rows x 1 columns]

**R3** Find the objects where Ks difffers by more than 20 times the flux uncertainty from the mean flux

In [16]:
con = lite.connect(root + "VVV.db")

#Take the dFlux1 of all stars for the Ks_E001 filter
avg_flux = """(SELECT AVG(i.dFlux1) FROM IntensityTable AS i WHERE i.Filter = 'Ks_E001')"""
avg_dflux = """(SELECT AVG(i.Flux1) FROM IntensityTable AS i WHERE i.Filter = 'Ks_E001')"""

command3 = """ SELECT i.StarID, i.Flux1 FROM IntensityTable AS i \
            WHERE (i.Filter = 'Ks_E001') \
                AND ( i.Flux1 > {0} + {1}*20 ) OR ( i.Flux1 < {0} - {1}*20 )""".format(avg_flux, avg_dflux)

print "Found the following stars with a Ks flux 20 times above the uncertainty from the mean flux"
pd.read_sql(command3, con)

Found the following stars with a Ks flux 20 times above the uncertainty from the mean flux

    StarID         Flux1
0    129.0  322511.56250
1    329.0  392656.46875
2    782.0  314895.21875
3    947.0  331899.75000
4    989.0  310920.87500
5   1096.0  324309.21875
6   1157.0  319166.78125
7   1424.0  306349.81250
8   4931.0  298593.00000
9   6487.0  353920.09375
10  6889.0  326117.56250
11  7780.0  301236.37500
12  7814.0  312941.71875

**R4** Find all catalogues that exist for a given field

In [4]:
con = lite.connect(root+"VVV.db")
Field = 2
command4 = """SELECT s.StarID FROM StarTable as s \
            WHERE s.FieldID = {0}""".format(str(Field))

t = pd.read_sql(command4, con)

print "Stars belonging to field {0} are:"
print t

Stars belonging to field {0} are:
        StarID
0     170000.0
1     170001.0
2     170002.0
3     170003.0
4     170004.0
5     170005.0
6     170006.0
7     170007.0
8     170008.0
9     170009.0
10    170010.0
11    170011.0
12    170012.0
13    170013.0
14    170014.0
15    170015.0
16    170016.0
17    170017.0
18    170018.0
19    170019.0
20    170020.0
21    170021.0
22    170022.0
23    170023.0
24    170024.0
25    170025.0
26    170026.0
27    170027.0
28    170028.0
29    170029.0
...        ...
9970  179970.0
9971  179971.0
9972  179972.0
9973  179973.0
9974  179974.0
9975  179975.0
9976  179976.0
9977  179977.0
9978  179978.0
9979  179979.0
9980  179980.0
9981  179981.0
9982  179982.0
9983  179983.0
9984  179984.0
9985  179985.0
9986  179986.0
9987  179987.0
9988  179988.0
9989  179989.0
9990  179990.0
9991  179991.0
9992  179992.0
9993  179993.0
9994  179994.0
9995  179995.0
9996  179996.0
9997  179997.0
9998  179998.0
9999  179999.0

[10000 rows x 1 columns]

**R5** For a given field I would like to retrieve the Y, Z, J, H and Ks magnitudes for all stars with S/N > 30 in Y, Z, J, H and Ks

In [16]:
con = lite.connect(root + 'VVV.db')
Field = 1
command5 = """ SELECT iy.StarID, iy.Mag1 AS Mag_Y, iy.dMag1 AS dMag_Y, iz.Mag1 AS Mag_Z, iz.dMag1 AS dMag_Z, \
                ij.Mag1 AS Mag_J, ij.dMag1 AS dMag_J, ih.Mag1 AS Mag_H, ih.dMag1 AS dMag_H, ik1.Mag1 AS Mag_Ks, \
                ik1.dMag1 AS dMag_Ks, ik2.Mag1 AS Mag_Ks, ik2.dMag1 AS dMag_Ks, ik3.Mag1 AS Mag_Ks, ik3.dMag1 AS dMag_Ks \
            FROM IntensityTable AS iy \
            JOIN IntensityTable AS iz \
                ON iy.StarID = iz.StarID \
            JOIN IntensityTable AS ij \
                ON ij.StarID = iz.StarID
            JOIN IntensityTable AS ih \
                ON ih.StarID = ij.StarID \
            JOIN IntensityTable AS ik1 \
                ON ik1.StarID = ih.StarID \
            JOIN IntensityTable AS ik2 \
                ON ik2.StarID = ik1.StarID \
            JOIN IntensityTable AS ik3 \
                ON ik3.StarID = ik2.StarID \
            WHERE (iy.Filter = 'Y') AND (iz.Filter = 'Z') AND (ij.Filter = 'J') AND (ih.Filter = 'H') \
                AND (ik1.Filter = 'Ks_E001') AND (ik2.Filter = 'Ks_E002') AND (ik3.Filter = 'Ks_E003') \
                AND (iy.Flux1/iy.dFlux1 > 30) AND (iz.Flux1/iz.dFlux1 > 30) AND (ij.Flux1/ij.dFlux1 > 30) \
                AND (ih.Flux1/ih.dFlux1 > 30) \
                AND ( (ik1.Flux1/ik1.dFlux1 > 30) OR (ik2.Flux1/ik2.dFlux1 > 30) OR (ik3.Flux1/ik3.dFlux1 > 30) )\
                AND (iy.FieldID = {0})""".format(str(Field))

t = pd.read_sql(command5, con)
print "Found the following stars with S/N > 30.0 for field {0}".format(str(Field))
print t

,StarID,Mag_Y,dMag_Y,Mag_Z,dMag_Z,Mag_J,dMag_J,Mag_H,dMag_H,Mag_Ks,dMag_Ks,Mag_Ks,dMag_Ks,Mag_Ks,dMag_Ks
0,8.0,15.762149,0.015402,16.418568,0.021096,16.820551,0.031242,15.824064,0.030774,14.025184,0.014281,14.940354,0.033646,14.025451,0.006193
1,21.0,15.514976,0.013055,16.013838,0.015235,15.368375,0.008368,13.672002,0.004615,13.164895,0.006947,13.208897,0.005248,13.277659,0.003312
2,22.0,16.181824,0.022430,16.822205,0.030262,16.234015,0.018196,14.623511,0.010535,14.366830,0.019414,14.242610,0.015278,14.386664,0.008428
3,27.0,15.815217,0.016152,16.453012,0.021737,15.773728,0.012209,14.315359,0.007932,13.913614,0.012979,13.814784,0.012305,14.028676,0.006208
4,32.0,16.331606,0.025625,16.858398,0.030964,16.482004,0.022693,14.965620,0.014303,14.696227,0.026164,14.703612,0.023373,14.801214,0.012109
5,35.0,16.272703,0.023311,16.841461,0.029061,16.350719,0.020080,14.815656,0.012042,14.630450,0.025160,14.491186,0.020565,14.565907,0.009885
6,37.0,16.340475,0.024770,16.936396,0.031655,16.349882,0.020069,14.736948,0.011233,14.454307,0.021487,14.349171,0.018094,14.465188,0.009057
7,42.0,15.055123,0.008013,15.727673,0.010881,15.035285,0.006297,13.587911,0.004011,13.334822,0.008038,13.343294,0.007474,13.330049,0.003507
8,44.0,16.232031,0.023459,16.831348,0.030488,16.298044,0.019276,14.754161,0.011831,14.485011,0.021574,14.349555,0.016884,14.496342,0.009269
9,53.0,16.418274,0.027151,16.840399,0.028454,16.701557,0.026980,15.368198,0.019253,14.801490,0.030958,14.888806,0.026132,15.010599,0.014440
10,54.0,15.074483,0.008144,15.777439,0.011355,15.688264,0.010905,13.433425,0.003519,13.097458,0.006558,13.725932,0.010397,13.000126,0.002711
11,56.0,16.207066,0.022459,16.824629,0.028053,16.356661,0.019767,14.836285,0.011929,14.255277,0.018956,14.540666,0.019125,14.603979,0.010096
12,62.0,15.515084,0.011921,16.233023,0.016898,15.482909,0.009274,13.818760,0.005013,13.543328,0.009628,13.457616,0.008219,13.520211,0.004085
13,67.0,15.045295,0.008712,14.902493,0.005937,15.621789,0.010433,14.204376,0.007330,13.906049,0.013228,14.022963,0.010470,13.907323,0.005527
14,70.0,14.802909,0.006596,14.892147,0.005318,15.365361,0.008213,14.395313,0.008062,14.349792,0.020619,14.271795,0.015056,14.330866,0.007968
15,71.0,16.350389,0.025027,16.964912,0.032447,16.525871,0.023476,15.040762,0.014744,14.838874,0.030449,14.728705,0.025339,14.811251,0.012248
16,74.0,15.917537,0.016558,16.554565,0.022862,16.098707,0.017115,15.287199,0.020582,14.453811,0.022099,15.173965,0.041841,14.305063,0.008555
17,76.0,15.899653,0.016716,16.227745,0.016856,16.293964,0.019111,15.104713,0.015670,14.795646,0.029202,14.730392,0.025491,15.012834,0.014649
18,77.0,14.285594,0.004309,15.077961,0.006185,14.812186,0.005116,12.172377,0.001304,11.881778,0.002585,12.530482,0.003458,12.240677,0.001547
19,78.0,16.409910,0.025728,17.012781,0.034512,16.597345,0.026766,14.976976,0.015073,14.987834,0.035792,14.750237,0.028203,14.777349,0.012874
20,80.0,16.418049,0.027814,16.784397,0.028809,16.563583,0.025185,15.140518,0.017810,14.775380,0.029528,14.972207,0.026684,14.877625,0.014156
21,81.0,15.505038,0.012994,16.089046,0.016319,15.335294,0.008123,13.593776,0.004322,13.121179,0.006699,13.257392,0.005447,13.187975,0.003086
22,83.0,16.169325,0.023441,16.631340,0.026411,16.059267,0.015381,14.342373,0.008281,13.932988,0.013544,14.069840,0.010899,14.025998,0.006107
23,86.0,15.999595,0.017816,16.418751,0.020261,16.206438,0.018851,14.816834,0.013052,14.618016,0.025614,14.980973,0.035122,14.495461,0.010093
24,87.0,15.225417,0.009646,15.818268,0.012449,15.275006,0.007809,13.563250,0.004174,13.283809,0.007517,13.152860,0.006000,13.285857,0.003376
25,91.0,16.191118,0.021145,16.609716,0.024042,16.422049,0.022845,14.977691,0.015533,14.929523,0.033950,14.673694,0.026342,14.700511,0.012031
26,94.0,15.807061,0.014872,16.379616,0.019742,15.784158,0.011881,14.319065,0.008110,14.066098,0.017361,14.144657,0.014499,14.005033,0.006425
27,95.0,16.278934,0.025866,16.271381,0.019168,16.545454,0.023800,15.383905,0.021057,15.272489,0.045141,15.427873,0.036638,15.420527,0.020678
28,96.0,14.819882,0.007191,15.334484,0.008505,14.679546,0.004644,12.802173,0.002248,12.501534,0.004011,12.622140,0.003262,12.382947,0.001698
29,97.0,14.039283,0.003616,14.262527,0.003437,13.843637,0.002459,13.412569,0.003887,11.737788,0.002271,13.388913,0.006639,13.810671,0.005627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4789,9942.0,16.228907,0.021625,16.730087,0.024968,16.253317,0.018009,14.793819,0.011622,14.464929,0.022025,14.488714,0.019853,14.517172,0.009413
4790,9943.0,16.425188,0.025801,16.968010,0.030892,16.439379,0.021283,14.931952,0.013144,14.614848,0.025235,14.656482,0.023078,14.631390,0.010398
4791,9944.0,16.349134,0.024871,16.967041,0.031964,16.284746,0.018589,14.739017,0.011204,14.302199,0.019003,14.314368,0.016233,14.324545,0.007948
4792,9945.0,16.169008,0.021164,16.376171,0.018849,16.486618,0.022289,15.332535,0.019114,15.161075,0.041224,15.205321,0.036171,15.173930,0.016747
4793,9947.0,14.864245,0.006711,15.370640,0.008309,14.882930,0.005504,13.434720,0.003783,13.114734,0.007229,13.105649,0.005407,13.193206,0.003185
4794,9948.0,15.975572,0.017627,16.462990,0.021472,16.014318,0.014758,14.530384,0.009796,14.261131,0.019724,14.238719,0.014346,14.295815,0.007916
4795,9949.0,16.183388,0.021242,16.664450,0.025697,16.240551,0.018071,14.771166,0.012143,14.497066,0.024270,14.476473,0.017709,14.535161,0.009741
4796,9950.0,15.731875,0.014199,16.328709,0.019060,15.659299,0.010774,14.106447,0.006741,13.734711,0.012370,13.708185,0.009018,13.798079,0.005200
4797,9956.0,14.105836,0.003568,14.872377,0.005386,14.022223,0.002752,12.631063,0.001947,11.941981,0.002579,11.927338,0.002217,12.500048,0.001851
4798,9958.0,15.596063,0.013943,16.057789,0.014257,15.656398,0.011094,14.139551,0.007190,13.872537,0.013010,13.907029,0.012357,13.904377,0.006027
4799,9959.0,15.934958,0.018826,16.465347,0.020419,16.104042,0.016512,14.792932,0.012842,14.302709,0.019074,14.312647,0.017695,14.575997,0.010741
4800,9960.0,16.581179,0.032258,16.996410,0.033770,16.499697,0.022403,15.026272,0.014537,14.634036,0.026129,14.817494,0.023238,14.724786,0.011184
4801,9961.0,12.174281,0.001010,12.983954,0.001392,13.252541,0.001522,13.164590,0.002860,11.705203,0.002221,12.083073,0.002330,12.482562,0.001824
4802,9964.0,15.930293,0.018011,16.545881,0.022575,16.003370,0.014359,14.533186,0.009366,14.119555,0.016474,14.264559,0.014205,14.218587,0.007212
4803,9965.0,13.287191,0.002064,13.990091,0.002736,13.220046,0.001480,12.688811,0.001972,11.087234,0.001442,11.377323,0.001431,12.389138,0.001708
4804,9966.0,13.683710,0.002758,14.482483,0.003961,13.603924,0.001952,12.637753,0.001895,11.457167,0.001861,11.589618,0.001650,12.376691,0.001693
4805,9967.0,13.720184,0.002835,14.391223,0.003685,13.696797,0.002091,12.482636,0.001681,11.619155,0.002090,11.731579,0.001820,12.324791,0.001634
4806,9970.0,14.575654,0.005729,15.199188,0.007260,14.567307,0.004211,13.022779,0.002683,12.454448,0.003991,12.507003,0.003234,12.660935,0.002175
4807,9971.0,15.910762,0.018168,16.483444,0.022103,15.977775,0.014233,14.458396,0.009153,14.104506,0.016351,14.194746,0.013310,14.141735,0.007129
4808,9972.0,16.445971,0.029353,16.938522,0.033173,16.609488,0.025088,15.109674,0.016397,14.855418,0.032089,14.883634,0.024600,14.896214,0.013757
4809,9973.0,16.281511,0.025326,16.771959,0.028614,16.406620,0.020897,14.903267,0.013614,14.613070,0.025787,14.690162,0.020686,14.650797,0.011079
4810,9975.0,16.403261,0.028281,16.816956,0.029754,16.596888,0.024812,15.293600,0.019409,14.991015,0.036281,15.055715,0.028725,15.037912,0.015600
4811,9976.0,16.255777,0.024735,16.732533,0.027393,16.429392,0.021329,14.959070,0.014328,14.692416,0.027741,14.779523,0.022398,14.680909,0.011382
4812,9977.0,15.165437,0.008809,15.730837,0.010907,15.195228,0.007222,13.706357,0.004551,13.429474,0.008716,13.460562,0.008264,13.480514,0.003957
4813,9986.0,16.325933,0.024697,16.731571,0.027078,16.418854,0.022498,15.019342,0.016064,14.796206,0.030013,14.793366,0.026634,14.799801,0.013198
4814,9987.0,15.795794,0.015397,16.204657,0.016972,15.878497,0.013851,14.462008,0.009775,14.295586,0.019135,14.257893,0.016506,14.324074,0.008705
4815,9988.0,15.149079,0.008761,15.605274,0.010082,15.225001,0.007795,13.828844,0.005593,13.542598,0.009841,13.568233,0.008908,13.572561,0.004612
4816,9989.0,16.526220,0.029581,16.946011,0.032868,16.612068,0.026762,15.241285,0.019631,14.999377,0.036051,15.039376,0.032955,15.024886,0.016114
4817,9991.0,15.530204,0.011778,16.167780,0.016353,15.469991,0.009142,13.866239,0.005437,13.511537,0.009801,13.470463,0.007606,13.508233,0.004052
4818,9999.0,12.137110,0.000946,13.148337,0.001529,12.764503,0.001105,12.905351,0.002345,11.101033,0.001421,11.482891,0.001740,12.138032,0.001456